# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  schedule:
    - cron: "0 0 1,15 * *"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Using NodeJS v14.x
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Install dependencies
      - run: npm install
      - run: npm run generate-readme
      - run: git config user.name "Eduardo Alvarez"
      - run: git config user.email "eduardo.a1993@gmail.com"
      - run: git commit -am "[Cron-Job] Update README with latest info"
      - run: git push origin master
