# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  schedule:
    - cron: '* * * * *'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - run: npm install
      - run: npm run generate-readme
      - run: |
          git config user.name Eduardo Alvarez
          git config user.email eduardo.a1993@gmail.com
          git add README.md
          git commit -m "[Cron-Job] Update README with latest info"
          git push origin master
